<div class="inner shadow-center">
	<div class="logo">
		<img src="public/images/logo.png"/>
	</div>
	<div class="nav-container">
		<nav>
			<a href="/">Home</a>
			<a href="/aboutme">About Me</a>
			<a href="/projects">Projects</a>
			<a href="/services">Services</a>
			<a href="/contact">Contact</a>
		</nav>
	</div>
</div>