/*
	Filename: style.css
	Name: Jagjit Singh
	Student ID: 
	Date: 2020-09-29
*/
main{padding:20px;}

.welcome-message{background:#351A40;max-width:600px;margin:50px auto;min-width:330px;color:white;padding:20px;border-radius:10px;}
.mission-statement{background:#eee;border:1px solid purple;color:black;padding:40px 20px;margin:50px auto;max-width:1000px;}

.section-aboutme{border-radius:10px;color:white;max-width:1000px;padding:20px;background:#351A40;margin:50px auto;}
.section-aboutme .display-pic{max-width:250px;height:auto;border-radius:10px;}
.section-aboutme .profile-description{margin:40px 0;max-width:700px;}
.section-aboutme .title{font-size:42px;}

.section-projects{padding:100px 20px;}
.section-projects .section-title{text-align:center;margin:0 0 50px 0;font-size:32px;}
.section-projects .cards-container{display:flex;justify-content: center;}
.section-projects .image-card-1{margin:0 25px;}

.section-services{max-width:1000px;margin:100px auto;text-align:center;}
.section-services .section-title{font-size:38px;margin-bottom:40px;color:#351A40;}
.section-services .service{max-width:800px;margin:30px auto;color:black;text-align:left;border:1px solid purple;}
.section-services .service .trigger{background:#eee;border-bottom:1px solid purple;width:100%;padding:20px;margin:0;}
.section-services .service .service-content{width:100%;padding:20px;}
.section-services .service .service-content:not(:first-of-type){display:none;}

.section-contact{max-width:1000px;padding:20px;margin:50px auto;border-radius:10px;background:#351A40;color:white;}
.section-contactform{max-width:1000px;padding:20px;margin:50px auto;border-radius:10px;background:#351A40;color:white;}
.section-contactform .if-s1{display:block;border-radius:5px;max-width:360px;min-width:300px;margin:10px 0;padding:15px;border:none;outline:none;}

