<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <section class="section-aboutme">
            <h1 class="title">About Me</h1>
            <img class="display-pic" src="public/images/self.jpg"/>
            <h2>I am Jagjit Singh,</h2>
            <p class="profile-description">
               an International Student passionate about programming. I love converting coffee into code. My short-term goal is to keep myself up-to-date with web technologies and my long-term goal is to land a job in a reputable IT company where I can put my skills to use for betterment of community!
            </p>
            <a href="public/docs/resume.docx" class="btn-s1">View Resume</a>
        </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>