<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <div class="welcome-message">
            <h2>Hi, welcome, I am Jagjit Singh</h2>
            <p>
                and this is my online portfolio which showcases my work in the programming field. You can check out my services and projects by visiting the respective pages.<br/><br/>
                
                Feel free to contact me for any work related queries!
            </p>
            <a href="/contact" class="btn-s1">Contact</a>
            <a href="/aboutme" class="btn-s1">More about me</a>
        </div>
        <div class="mission-statement">
            <h2>A fitting quote</h2>
            <p>
                Fruits fall off the trees that are able to withstand the wind. I always strive to seek more knowledge and apply it in my life not only to earn but to explore all that world has to offer!
            </p>
        </div>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>