<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
       <section class="section-projects">
            <h1 class="section-title">I have completed the following projects,</h1>
                <div class="cards-container">
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/ps1.jpeg"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Table Generator</h4>
                        <p>
                            A small application with which a table with any number of rows or columns can be generated.
                        </p>
                        <div class="nav">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/ps2.jpeg"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Website - Alpha Restaurant</h4>
                        <p>
                            A responsive website for Alpha Restaurant featuring orders, schedule and other events.
                        </p>
                        <div class="nav">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/ps3.jpeg"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Web Game</h4>
                        <p>
                           A Web based Javascript game
                        </p>
                        <div class="nav">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
       </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>