<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
       <section class="services">
           <h1 class="section-title">Services</h1>
           <div class="content">
                <div class="col-left">
                    <div class="service">
                        <h3 class="trigger">Content Writing</h3>
                        <div class="service-content">
                                <p>
                                    I can create content for your websites and blogs including images and textual material
                                </p>
                        </div>
                    </div>
                    <div class="service">
                        <h3 class="trigger">Website Development</h3>
                        <div class="service-content">
                            <p>
                                I can make Wordpress website for you or an online store website by using Shopify
                            </p>
                        </div>
                    </div>
                    <div class="service">
                        <h3 class="trigger">Android Development</h3>
                        <div class="service-content">
                            <p>
                                I can develop basic Andriod apps for your needs
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-right">
                    <div class="service">
                        <h3 class="trigger">Online Tutoring</h3>
                        <div class="service-content">
                                <p>
                                    I can provide guidance for beginner programmers from what I have learned through cheap hourly online classes
                                </p>
                        </div>
                    </div>
                    <div class="service">
                        <h3 class="trigger">Product Photography</h3>
                        <div class="service-content">
                            <p>
                                I can help you with product photography if you want to sell something online
                            </p>
                        </div>
                    </div>
                    <div class="service">
                        <h3 class="trigger">Photoshop</h3>
                        <div class="service-content">
                            <p>
                                I am a novice at photoshop and help you retouch your photos for social media posts
                            </p>
                        </div>
                    </div>
                </div>
           </div>
       </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>