<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
       <section class="section-services">
           <h1 class="section-title">Services</h1>
           <div class="data-container">
               <div class="service">
                   <h3 class="trigger">General Programming</h3>
                   <div class="service-content">
                        <p>
                            A tutor's style doesn't suit you? Stuck with assignments? I will gladly guide you in general programming and help you pass with good grades.
                        </p>
                   </div>
               </div>
               <div class="service">
                <h3 class="trigger">Web Development</h3>
                <div class="service-content">
                     <p>
                         I offer Web Development services at cheap rates. Fully mobile friendly websites with secure backend is what you will get!
                     </p>
                </div>
            </div>
            <div class="service">
                <h3 class="trigger">Graphics Designing</h3>
                <div class="service-content">
                     <p>
                        Need posters, flyers, etc? I can make them for you. Available in all printable sizes!
                     </p>
                </div>
            </div>
           </div>
       </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>